{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/home.css">

</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home_two' %}"> Home_two</a>
            </li>
        </ul>
    </nav>
</header>
            <form class="form_section" action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
            <label for="date">Име {{ form.tittless }}</label><br>
            <br>
            <label for="date">Януари {{ form.jan }}</label><br>
            <br>
            <label  for="title">Февруари {{ form.feb }}</label><br>
            <br>
            <label class="inputs" for="exercise">Март {{ form.march }}</label><br>
            <br>
            <label class="inputs" for="exercise">Април {{ form.april }}</label><br>
            <br>
            <label class="inputs" for="exercise">Май {{ form.may }}</label><br>
            <br>
            <label class="inputs" for="exercise">Юни {{ form.june }}</label><br>
            <br>
            <label class="inputs" for="exercise">Юли {{ form.july }}</label><br>
                <br>
            <label class="inputs" for="exercise">Август {{ form.august }}</label><br>
                <br>
            <label class="inputs" for="exercise">Септември {{ form.sept }}</label><br>
                <br>
            <label class="inputs" for="exercise">Октомври {{ form.oct }}</label><br>
                <br>
            <label class="inputs" for="exercise">Ноември {{ form.nove }}</label><br>
                <br>
            <label class="inputs" for="exercise">Декември {{ form.dec }}</label><br>

            <input type="submit" value="btn">
            {% csrf_token %}

        </form>

<section>

    {% for mtable in mtable %}
        <section class="month_section">

                     <p> Име : {{ mtable.tittless }}</p>
            {% if mtable.jan == True %}
                <p>OKAy</p>
                <button href="#" aria-checked="true">{{ che }}</button>
             {% else %}
                <p>NOT OKAY</p>
                <button href="#" aria-checked="true">{{ not }}</button>
            {% endif %}
                    <p>Януари {{ mtable.jan }}</p>
                    <p>Февруари {{mtable.feb }}</p>
                    <p>Март {{ mtable.march }}</p>
                    <p>Април {{ mtable.april }}</p>
                     <p>Май{{ mtable.may }}</p>
                    <p>Юни {{ mtable.june }}</p>
                     <p>Юли {{ mtable.july }}</p>
                    <p>Август {{ mtable.august }}</p>
                     <p>Септември {{ mtable.sept }}</p>
                    <p>Ноември {{mtable.oct }}</p>
                     <p>Декември {{ mtable.nove }}</p>


    </section>
        {% endfor %}
</section>

</body>
</html>