{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/home.css">

</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home_two' %}"> Home_two</a>
            </li>
        </ul>
    </nav>
</header>
            <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
            <label for="date">title{{ form.tittless }}</label><br>
            <br>
            <label for="date">January{{ form.jan }}</label><br>
            <br>
            <label  for="title">February {{ form.feb }}</label><br>
            <br>
            <label class="inputs" for="exercise">March: {{ form.march }}</label><br>
            <br>
            <label class="inputs" for="exercise">April: {{ form.april }}</label><br>
            <br>
            <label class="inputs" for="exercise">May: {{ form.may }}</label><br>
            <br>
            <label class="inputs" for="exercise">June: {{ form.june }}</label><br>
            <br>
            <label class="inputs" for="exercise">July: {{ form.july }}</label><br>
                <br>
            <label class="inputs" for="exercise">August: {{ form.august }}</label><br>
                <br>
            <label class="inputs" for="exercise">September: {{ form.sept }}</label><br>
                <br>
            <label class="inputs" for="exercise">October: {{ form.oct }}</label><br>
                <br>
            <label class="inputs" for="exercise">November: {{ form.nove }}</label><br>
                <br>
            <label class="inputs" for="exercise">December: {{ form.dec }}</label><br>

            <input type="submit" value="btn">
            {% csrf_token %}

        </form>

<section>
    <h1>bratle asdasdads</h1>
                {% for mtable in mtable %}

                     <p>1: <span class="form-out">{{ mtable.tittless }}</span></p>
                    <label>1: {{ mtable.jan }}</label>
                    <p>2:<span class="form-out"> {{mtable.feb }}</span></p>
                    <p>3: <span class="form-out">{{ mtable.march }}</span></p>
                    <p>4:<span class="form-out"> {{ mtable.april }}</span></p>
                     <p>5: <span class="form-out">{{ mtable.may }}</span></p>
                    <p>6:<span class="form-out"> {{ mtable.june }}</span></p>
                     <p>7: <span class="form-out">{{ mtable.july }}</span></p>
                    <p>8:<span class="form-out"> {{ mtable.august }}</span></p>
                     <p>9: <span class="form-out">{{ mtable.sept }}</span></p>
                    <p>10:<span class="form-out"> {{mtable.oct }}</span></p>
                     <p>11: <span class="form-out">{{ mtable.nove }}</span></p>



        {% endfor %}
</section>

</body>
</html>