{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/home.css">

</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home_two' %}"> Home_two</a>
            </li>
        </ul>
    </nav>
</header>
            <form class="form_section" action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
            <label for="name">Име {{ form.tittless }}</label><br>
            <br>
            <label for="mesec">Януари {{ form.jan }}</label><br>
            <br>
            <label  for="mesec">Февруари {{ form.feb }}</label><br>
            <br>
            <label class="inputs" for="mesec">Март {{ form.march }}</label><br>
            <br>
            <label class="inputs" for="mesec">Април {{ form.april }}</label><br>
            <br>
            <label class="inputs" for="mesec">Май {{ form.may }}</label><br>
            <br>
            <label class="inputs" for="mesec">Юни {{ form.june }}</label><br>
            <br>
            <label class="inputs" for="mesec">Юли {{ form.july }}</label><br>
                <br>
            <label class="inputs" for="mesec">Август {{ form.august }}</label><br>
                <br>
            <label class="inputs" for="mesec">Септември {{ form.sept }}</label><br>
                <br>
            <label class="inputs" for="mesec">Октомври {{ form.oct }}</label><br>
                <br>
            <label class="inputs" for="mesec">Ноември {{ form.nove }}</label><br>
                <br>
            <label class="inputs" for="mesec">Декември {{ form.dec }}</label><br>

            <input type="submit" value="Запази">
            {% csrf_token %}

        </form>

<section class="employee_list">

    {% for mtable in mtable %}
        <section class="month_section">

            <p class="employee_name">{{ mtable.tittless }}</p>
        <section>
            <p>Януари</p>
            {% if mtable.jan == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
             <p>Февруари</p>
            {% if mtable.feb == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
            <p>Март</p>
           {% if mtable.march == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
            <p>Април</p>
           {% if mtable.april == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
        <p>Май</p>
            {% if mtable.may == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
            <p>Юни</p>
           {% if mtable.june == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
            <p>Юли</p>
           {% if mtable.july == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
            <p>Август</p>
               {% if mtable.august == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
            <p>Септември</p>
               {% if mtable.sept == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
             <p>Октомври</p>
           {% if mtable.oct == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
            <p>Ноември</p>
           {% if mtable.nove == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>

        <section>
            <p>Декември</p>
           {% if mtable.dec == True %}
                <button href="#" aria-checked="true">{{ checked }}</button>
             {% else %}
                <button href="#" aria-checked="true">{{ not_cheked }}</button>
            {% endif %}
        </section>
    </section>
        {% endfor %}
</section>

</body>
</html>